.previous {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25%;
    left: 0%;
}

.next {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25%;
    right: 0%;
}

.colorDiv {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}